.main-title {
  font-size: 100px;
  text-align: center;
  background: linear-gradient(to right, #911a80, #00FFFF);
  background-clip: text;
  color: transparent;
}



.grid {
  margin: 50px;
}

.content {
  margin: 50px;
}

.centered {
  text-align: center;
}
.card {
  margin: 10px;
}

.project-title {
  font-size: 20px;
  font-weight: bolder;
}

.navbar:hover {
  background-color: rgb(28, 30, 36);
}

img {
  border-radius: 40px;
}

.sketch {
  display: block;
  margin: auto;
  border-radius: 20px;
}
.counter-button {
  margin: 10px;
}
